
@{
    ViewBag.Title = "GetPartialView";
}


<h2>GetPartialView</h2>

@{
    Html.RenderPartial("PartialView1");

    Html.RenderPartial("PartialView2");

    Html.RenderPartial("UserPartialView");
}



